/* HTML and body settings*/
html { 
    height:100%; 
}

body { 
    position:absolute; 
    top:0px; bottom:0px; right:0px; left:0px; 
}


/* The navigation bar */
.navbar { 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background:transparent;
    position: fixed; /* Set the navbar to fixed position */
    left:0px;
    top:0px;
    width: 100%; /* Full width */
    z-index:300;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    padding: 16px 18px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
    font-weight: bold;
}

/* Logo top-right*/
.Logo{
    float: right;
    position: relative;
}

.img_1{
    width: 40px;
    height: 40px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100% ; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    display: block;
    margin: 0 auto;
    background-color: #444;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: royalblue;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    height:65%;
    margin:80px auto 50px;
    position: relative;
    
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
    .container {
    padding: 20px;
    width: 60%;
    height:100%;
    margin:100px auto 80px;
    position: relative;
    }
}

footer{
    color: #f2f2f2;
    position: relative;
    text-align: center;
    bottom: auto;
}
